<!-- <p>
    this is product <strong>{{productname}}</strong> with id<strong>{{productid}}</strong>

</p>


<!-- <p [innerText]="productstatus"></p> -->
<p [innerHTML]="productstatus"></p>
<p [textContent]="productstatus"></p>


<button class="btn btn-danger color-white p-2" [disabled]="isdisable"> add product</button>


<input class="form-control mb-2" type="text"[value]="deal">


<!-- we can cretae single file component,

using tempalte keyword and style

life cycle hooks = intilize and destroy there are 8 in anugular
they are states 

onint and ondestroy implements interface

// angular html is dynamic

///// data binding///
the communication and  transfer of data template to ts or vice versa is caleed as data binding within same component
       
string interpolation here it guves html elemnt  in string and uses only on open close tag

property binding [ ]  ts to template

html to ts by eventbinding ( )

2 way data binding [()] -->




 -->
